@import url('https://fonts.cdnfonts.com/css/arial-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #96bf01;
  --red: #e02c1f;
}

/* Buttons */
.btn {
  @apply flex items-center justify-center min-w-[10rem] gap-1 p-3 px-4 text-sm my-3 font-bold text-white rounded-full md:hover:scale-105 md:transition md:active:scale-95;
}

.btn-primary {
  @apply bg-[var(--green)];
}

.btn-secondary {
  @apply bg-white text-[var(--green)];
}

.btn-danger {
  @apply bg-[var(--red)];
}

.active {
  @apply bg-[var(--green)] text-white;
}

.burger-menu.open span:nth-child(1) {
  transform: translateY(0.75rem) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: translateY(-0.75rem) rotate(-45deg)!important;
}
